// color
$primary-weight: #71c9ce;
$primary: #a6e3e9;
$primary-light: #cbf1f5;
$primary-mini: #e3fdfd;
$light: #fff;
$dark: #000;
$danger: #d11f18;

// border
$border-line: #dcdfe6;

// header
$header-bg: linear-gradient(to right, $primary-weight, $primary);
