@import '@/assets/scss/share.scss';

.weather-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: to-rem(44px);
}

.card {
  @include breakpoint($mobile, true) {
    width: to-rem(380px);
  }

  width: to-rem(280px);
  border: 1px solid $border-line;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  border-radius: to-rem(4px);
}

.card-search {
  height: to-rem(40px);
  margin-bottom: to-rem(16px);
  padding-left: to-rem(8px);
}

.card-container {
  @include breakpoint($mobile, true) {
    height: to-rem(300px);
  }

  height: to-rem(200px);
}

.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $border-line;
}

.title-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: to-rem(8px);
}

.description {
  display: flex;
  font-size: $font-small;
  margin-left: to-rem(6px);
}

.content-detail {
  display: flex;
  justify-content: space-between;
  margin-top: to-rem(32px);
}

.detail {
  display: flex;
  justify-content: center;
  width: calc(100% / 2);
}

.detail-temp {
  display: flex;
  align-items: center;
}

.temp-text {
  font-size: to-rem(28px);
}

.detail-other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-small;
}
